.cell.medium-8
    .blog-post
        .callout
            %h3 Credentials (Self authorization)
            = form_for :credentials, url: prove_credentials_path do |f|
                = f.select :host,['sellingpartnerapi-na.amazon.com']
                = f.select :service, ['execute-api']
                = f.select :region, ['us-east-1']
                = f.select :method, ['GET', 'POST']
                %hr
                = f.text_field :access_key_id, label: 'Access Key ID'
                = f.password_field :secret_access_key
                = f.text_field :client_id, label: 'Client ID'
                = f.password_field :client_secret
                = f.text_area :refresh_token, rows: 4
                = f.text_field :resource, placeholder: '/feeds/2020-09-04/feeds', value: '/feeds/2020-09-04/feeds'
                
                = f.submit 'Send'
    
      
